<form #signupForm="ngForm">
    <span>Signup</span>
    <div class="row">
      <div class="col-md-5">
        <span>Username : </span>
      </div>
      <div class="col-md-7">
        <input name="uname" type="text" [(ngModel)]="username" #uname>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <span>Password : </span>
      </div>
      <div class="col-md-7">
        <input name="pword" type="password" [(ngModel)]="password" #pword>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="button" name="signup" value="signup" (click)="signup()">
      </div>
      <div class="col-md-6">
        <a routerLink="/login">
        <input type="button" name="login" value="Login">
        </a>
      </div>
    </div>
  </form>